* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

body {
    background-image: linear-gradient(to right, #61248a, #a547ad);
}

.login-form {
    margin: 35px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    background-color: #f2f2f2; 
}

.company-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-image: url(background.jpg);
    object-fit: cover;
    background-repeat: round;
    padding: 0;
    color: #a49a68;
}

.form {
    width: 50%;
    display: block;
    margin: auto;
    padding: 35px;
}

.flex {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 8px;
}

.company-logo p{
    animation-name: mymove;
    position: relative;
    animation-duration: 1.5s;
}

.img1 {
    display: block;
    margin: 10px auto;
    width: 150px;
    animation-name: mymove;
    position: relative;
    animation-duration: 1.5s;
}

@keyframes mymove {
    from {left: -200px;}
    to {left: 0px;}
}


.img2 {
    display: block;
    margin: 10px auto;
    width: 60px;
    border-radius: 50%;
}



input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding:6px 4px 6px 36px;
    margin: 10px 0;
    border: 2px solid #e2e2e2;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.in{
    position: relative;
}

label.icon {
    position: absolute;
    display: flex;
    width: 36px;
    height: 40px;
    left: 0;
    top: 11px;
    align-items: center;
    justify-content: center;
}

input[type=button] {
    float: right;
    border: none;
    font-size: 18px;
    background-image: linear-gradient(to right, #a547ad, #61248a);
    padding: 8px 20px;
    margin: 3px 0;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

input[type=checkbox] {
    display: none;
    margin: 4px;
}

.span{
    color: red;
    font-weight: bold;
}

input[type=checkbox]+label:before {
    content: "\2714";
    display: inline-block;
    border: 2px solid #434343;
    width: 20px;
    height: 20px;
    padding-left: 7px;
    padding-bottom: 3px;
    margin-right: 4px;
    vertical-align: bottom;
    color: transparent;
}

input[type=checkbox]:checked+label:before {
    background-image: linear-gradient(to right, #a547ad, #61248a);
    color: #fff;
}

@media (max-width:768px) {
    .login-form {
        flex-direction: column;
    }

    .company-logo,
    .form {
        width: 100%;
        margin: 0%;
        display: block;
        padding: 30px 40px;
    }

    .img1 {
        width: 120px;
    }

    .img2 {
        width: 70px;
    }

    p {
        font-size: 15px;
        margin: 5px;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        font-size: 15px;
    }

}